@page "/@{handle}"
@model Letterbook.Web.Pages.Profile

@{
    ViewData["Title"] = $"{Model.DisplayName} ({Model.Handle})";
}

<div>
    <h1>
        <span>@Model.DisplayName</span>
        <span>@Model.Handle</span>
    </h1>
    
    <div>
        <h3>Description</h3>
        <div>@Model.Description</div>
        
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfileDescription"></label>
                <textarea asp-for="ProfileDescription"></textarea>
                <span asp-validation-for="ProfileDescription"></span>
            </div>
            <button>Update</button>
        </form>
        
        <h3>Custom Fields</h3>
        <dl>
            @foreach (var field in @Model.CustomFields) {
                <dt>@field.Label</dt>
                <dd>@field.Value</dd>
            }
        </dl>
        
        <h3>Info</h3>
        <div>
            <div>
                @Model.GetFollowerCount() Followers
            </div>
            <div>
                @Model.GetFollowingCount() Following
            </div>
        </div>
        
    </div>
    
</div>
