@page "/@{handle}"
@model Letterbook.Web.Pages.Profile

@{
    ViewData["Title"] = $"{Model.DisplayName} ({Model.Handle})";
}

<div>
    <h1>
        <span>@Model.DisplayName</span>
        <span>@Model.Handle</span>
    </h1>
    
    <div>
        <div>@Model.Description</div>
        
        <dl>
            @foreach (var field in @Model.CustomFields) {
                <dt>@field.Label</dt>
                <dd>@field.Value</dd>
            }
        </dl>
        
        <div>
            <div>
                @Model.GetFollowerCount() Followers
            </div>
            <div>
                @Model.GetFollowingCount() Following
            </div>
        </div>
        
    </div>
    
</div>
