@model Letterbook.Web.Projections.ReportProfile

<article>
    <header class="post-author">
        <div class="post-pfp">
            <a asp-page="Profile" asp-route-id="@Model.Handle">
                <img class="pfp-sm inline" src="/img/user-square.png" alt="@Model..DisplayName profile picture"/>
            </a>
        </div>
        <div class="post-profile-container">
            <a href="/profile/@Model.Id">
                <div class="display-name">@Model.DisplayName</div>
                <div class="handle">@@@Model.Handle@@@Model.Authority</div>
            </a>
        </div>
    </header>
    <div class="profile-stats">
        <div class="row">
            <strong class="report-stats-header">Followers</strong>
            <span >@Model.FollowersCount</span>
        </div>
        <div class="row">
            <strong class="report-stats-header">Following</strong>
            <span >@Model.FollowingCount</span>
        </div>
        <div class="row">
            <strong class="report-stats-header">Joined</strong>
            <span >@Model.Created.ToString("d")</span>
        </div>
        <div class="row">
            <strong class="report-stats-header">Posts</strong>
            <span >@Model.PostsCount</span>
        </div>
        <dl>
            <dt>Reported In</dt>
            @foreach (var r in Model.ReportSubject)
            {
                @if (r.Id == Model.ReportId)
                {
                    <dd><em >This report</em></dd>
                }
                else
                {
                    <dd><a asp-area="Administration" asp-page="Report" asp-route-id="@r.Id">
                        @r.Created.ToString("d") - @("(")@r.Remarks.Count notes@(")")
                    </a></dd>
                }
            }
            @if(Model.ReportSubject.Count == 0)
            {
                <dd>--</dd>
            }
        </dl>
        <dl>
            <dt>Reports Submitted</dt>
            @foreach (var r in Model.Reports)
            {
                @if (r.Id == Model.ReportId)
                {
                    <dd><em >This report</em></dd>
                }
                else
                {
                    <dd><a asp-area="Administration" asp-page="Report" asp-route-id="@r.Id">
                        @r.Created.ToString("d") - @("(")@r.Remarks.Count notes@(")")
                    </a></dd>
                }
            }
            @if(Model.Reports.Count == 0)
            {
                <dd>--</dd>
            }
        </dl>
    </div>
    
</article>