@page
@using Letterbook.Core.Extensions
@model Letterbook.Web.Areas.Administration.Pages.Peers

@{
    Layout = "_Layout";
    ViewData["title"] = "Admin - Peers";
}

<section class="administration">
    <h1>Manage Federated Peers</h1>
    <a asp-area="Administration" asp-page="PeerImport">Import Restriction List</a>
    <form asp-page-handler="search" method="get">
        <label for="query">Domain Search</label>
        <input type="search" id="query" name="search"/>
    </form>
    @if (Model.ListCursor != null || Model.Search != null)
    {
        <a asp-area="Administration" asp-page="Peers">First Page</a>
    }
    @if (Model.PeerList.Count >= Model.Limit)
    {
        <a asp-area="Administration" asp-page="Peers"
           asp-all-route-data="@(Model.Search != null ? new Dictionary<string, string> { { "search", Model.PeerList.Last().Hostname } } : new Dictionary<string, string> { { "cursor", Model.PeerList.Last().Hostname } })">
            Next Page >>
        </a>
    }
    <table class="peer-list">
        @if (Model.Search != null)
        {
            <caption>Domains like <code>@Model.Search</code></caption>
        }
        else
        {
            <caption>All domains</caption>
        }
        <thead>
        <th class="col-hostname">Hostname</th>
        <th>Private Notes</th>
        <th>Public Remarks</th>
        </thead>
        <tbody>
        @foreach (var peer in Model.PeerList)
        {
            <tr>
                <th rowspan="2" class="col-hostname">
                    <a asp-area="Administration" asp-page="Peer" asp-route-domain="@peer.Hostname" class="peer-link" role="button">
                        @* Line break in sensible places, instead of mid-word *@
                        @(peer.Hostname.Replace(".", "\u200b."))
                    </a>
                </th>
                <td>@peer.PrivateComment</td>
                <td>@peer.PublicRemark</td>
            </tr>
            <tr>
                <td colspan="2">
                    @(string.Join(", ", peer.Restrictions.Where(r => !r.Value.Expired()).OrderByDescending(p => p.Key).Select(r => r.Key)))
                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (Model.ListCursor != null || Model.Search != null)
    {
        <a asp-area="Administration" asp-page="Peers">First Page</a>
    }
    @if (Model.PeerList.Count >= Model.Limit)
    {
        <a asp-area="Administration" asp-page="Peers"
           asp-all-route-data="@(Model.Search != null ? new Dictionary<string, string> { { "search", Model.PeerList.Last().Hostname } } : new Dictionary<string, string> { { "cursor", Model.PeerList.Last().Hostname } })">
            Next Page >>
        </a>
    }
</section>