@page
@using Letterbook.Core.Extensions
@model Letterbook.Web.Areas.Administration.Pages.Peers

@{
    Layout = "_Layout";
    ViewData["title"] = "Admin - Peers";
}

<section class="administration">
    <h1>Manage Federated Peers</h1>
    <form asp-page-handler="search" method="get">
        <label for="query">Domain Search</label>
        <input type="search" id="query" name="search"/>
    </form>
    @if (Model.PeerList.Count >= Model.Limit)
    {
        <form method="get">
            <input type="hidden" name="@(Model.Search != null ? "search" : "cursor")" value="@Model.PeerList.Last().Hostname">
            <input type="hidden" name="limit" value="@Model.Limit">
            <button type="submit">Next Page</button>
        </form>
    }
    <table class="peer-list">
        <thead>
        <th class="col-hostname">Hostname</th>
        <th>Private Notes</th>
        <th>Public Remarks</th>
        </thead>
        <tbody>
        @foreach (var peer in Model.PeerList)
        {
            <tr>
                <th rowspan="2" class="col-hostname">@peer.Hostname</th>
                <td>@peer.PrivateComment</td>
                <td>@peer.PublicRemark</td>
            </tr>
            <tr>
                <td colspan="2">
                    @(string.Join(", ", peer.Restrictions.Where(r => !r.Value.Expired()).OrderByDescending(p => p.Key).Select(r => r.Key)))
                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (Model.PeerList.Count >= Model.Limit)
    {
        <form method="get">
            <input type="hidden" name="@(Model.Search != null ? "search" : "cursor")" value="@Model.PeerList.Last().Hostname">
            <input type="hidden" name="limit" value="@Model.Limit">
            <button type="submit">Next Page</button>
        </form>
    }
</section>