@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>
@{
    string CurrentNav(string href) => Html.MatchesPath(href) ? "current" : "alternate";
    void RenderNavLink(string href, string text)
    {
        <li class="@Html.ClassNames(CurrentNav(href))">
            <a href="@href" aria-current="@(Html.MatchesPath(href) ? "page" : "")" 
               class="@Html.ClassNames(CurrentNav(href))">@text</a>
        </li>
    }

    var menuItems = new (string Href, string Text)[]
    {
        ("/", "Home"),
        ("/blog", "Blog"),
        ("/docs", "Docs"),
    };
}

<nav class="top-nav">
    <ul class="align-bottom">
        <li><a href="https://letterbookhq.com"><img href="/img/letterbook.png" alt="Letterbook logo" src="/img/letterbook.svg" class="logo"/></a></li>
        <li><h1 class="letterbook-brand">@ViewData["Title"]</h1></li>
    </ul>
    <ul class="align-bottom">
        <li>
            <details class="dropdown">
                <summary>@menuItems.First(each => Html.MatchesPath(each.Href)).Text</summary>
                <ul>
                    @foreach (var item in menuItems)//.Where(each => !Html.MatchesPath(each.Href)))
                    {
                        RenderNavLink(item.Href, item.Text);
                    }
                </ul>
            </details>
        </li>
    </ul>
</nav>