@page
@model Letterbook.Web.Pages.Account

@{
    ViewData["Title"] = "Account";
}

<section class="account">
    <header>
        <h1>Account Settings</h1>
        <p><span class="display-name">@Model.DisplayName</span> <span class="display-email">(@Model.Email)</span></p>
    </header>
    <div class="account-details">
        <dialog @(Model.PageAction == Account.ConfirmEmailAction ? "open" : "")>
            <article>
                <header>
                    <h2>@Model.ConfirmEmailResult</h2>
                </header>
                <ul>
                    @foreach (var detail in Model.ConfirmEmailDetails)
                    {
                        <li>@detail</li>
                    }
                </ul>
                <footer>
                    <form method="dialog">
                        <button type="submit">Close</button>
                    </form>
                </footer>
            </article>
        </dialog>

        <dialog @(Model.ConfirmUrl is not null ? "open" : "")>
            <article>
                <header>
                    <h2>Confirm new email</h2>
                </header>
                    <p><a href="@Model.ConfirmUrl">Click here to confirm your new email</a></p>
                    <p>This is a temporary process, until email support is implemented</p>
                <footer>
                    <form method="dialog">
                        <button type="submit" class="secondary">Cancel</button>
                    </form>
                </footer>
            </article>
        </dialog>

        <form asp-page-handler="Email" method="post" asp-route-accountId="@Model.AccountId">
            <h2>Email</h2>
            <label for="account-email">Email address</label>
            <input id="account-email" name="newEmail" type="email" autocomplete="email" value="@Model.Email"/>
            <input type="hidden" name="oldEmail" value="@Model.Email"/>
            <button type="submit">Save</button>
        </form>

        <form asp-page-handler="Password" method="post" asp-route-accountId="@Model.AccountId">
            <h2>Security</h2>
            <label for="account-password-current">Current password</label>
            <input id="account-password-current" name="passwordCurrent" type="password"
                   autocomplete="current-password"/>
            <small><a asp-area="Account" asp-page="@(nameof(Areas.Account.Pages.PasswordResetRequest))">Forgot password</a></small>

            <label for="account-password-new">New password</label>
            <input id="account-password-new" name="passwordNew" type="password" autocomplete="new-password"/>

            <label for="account-password-confirm">Confirm new password</label>
            <input id="account-password-confirm" name="passwordConfirm" type="password" autocomplete="new-password"/>

            <button type="submit">Save</button>
        </form>
    </div>
</section>