@page
@using Microsoft.AspNetCore.Html
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="timeline">
    <h1>Home</h1>
    <p>
        <a asp-page="Profile" asp-route-handle="admin">Admin profile</a>
    </p>
    <p>And now some content, to demonstrate scrolling behavior</p>
    @foreach (var post in await Model.GetPosts())
    {
        <article>
            <header class="timeline-header">
                <div class="timeline-author">
                    <div class="timeline-pfp">
                        <a asp-page="Profile" asp-route-handle="@post.Creators.First().Handle">
                            <img class="pfp-sm inline" src="/img/letterbook-square.svg"/>
                        </a>
                    </div>
                    <div class="timeline-profile-container">
                        <a asp-page="Profile" asp-route-handle="@post.Creators.First().Handle">
                            <span class="display-name">@post.Creators.First().DisplayName</span>
                        </a>
                        <a asp-page="Profile" asp-route-handle="@post.Creators.First().Handle">
                            <span class="handle">@@@post.Creators.First().Handle</span>
                        </a>
                    </div>
                </div>
            </header>
            <div class="timeline-body">
                @(new HtmlString(post.Contents.First().Html))
            </div>
            <footer class="timeline-footer"></footer>
        </article>
    }
</div>