@page "{id}"
@model Letterbook.Web.Pages.Profile

@{
    ViewData["Title"] = $"{Model.DisplayName} ({Model.FullHandle})";
}

<div>
    <h1>
        <span>@Model.DisplayName</span>
        <span>@Model.FullHandle</span>
    </h1>
    
    @if (User.Identity?.IsAuthenticated == true && Model.SelfId == Model.GetId)
    {
        <a asp-page="ProfileEdit" asp-route-handle="@Model.BareHandle">Edit</a>
    }
    @if (User.Identity?.IsAuthenticated == true && Model.SelfId != Model.GetId)
    {
        if (Model.YouFollow)
        {
            
            <form asp-page-handler="Unfollow" asp-route-followId="@Model.GetId" method="post">
                <button>Unfollow</button>
            </form>
        }
        else
        {
            <form asp-page-handler="FollowRequest" asp-route-followId="@Model.GetId" method="post">
                <button>Follow</button>
            </form>
        }
        if(Model.FollowsYou)
        {
            <form asp-page-handler="RemoveFollower" asp-route-followerId="@Model.GetId" method="post">
                <span>Follows you</span>
                <button>Remove follower</button>
            </form>
            
        }
    }

    <div>
        <h3>Description</h3>
        <div>@Model.Description</div>
        
        <h3>Custom Fields</h3>
        <dl>
            @foreach (var field in Model.CustomFields) {
                <dt>@field.Label</dt>
                <dd>@field.Value</dd>
            }
        </dl>
        
        <h3>Info</h3>
        <div>
            <div>
                @await Model.FollowerCount Followers
            </div>
            <div>
                @await Model.FollowingCount Following
            </div>
        </div>
        
    </div>
    
    <p>Profile Id: <code>@Model.GetId</code></p>
    
</div>
