@using Letterbook.Web.Tags
@using Microsoft.AspNetCore.Html
@model Models.Post

<header class="post-header">
    <div class="post-author">
        <div class="post-pfp">
            <a asp-page="Profile" asp-route-id="@Model.Creators.First().Handle">
                <img class="pfp-sm inline" src="/img/user-square.png"
                     alt="@Model.Creators.First().DisplayName profile picture"/>
            </a>
        </div>
        <div class="post-profile-container">
            <a asp-page="Profile" asp-route-id="@Model.Creators.First().Handle">
                <div class="display-name">@Model.Creators.First().DisplayName</div>
                <div class="handle">@@@Model.Creators.First().Handle</div>
            </a>
        </div>
    </div>
</header>
<div class="post-body">
    @(new HtmlString(Model.Contents.First().Html))
</div>