@using Letterbook.Web.Tags
@model Letterbook.Web.Forms.PostEditorForm;

<section class="post-editor">
    <details>
        <summary class="no-arrow" role="button">
            <div class="closed display-button text-center">
                <app-icon type="@Icon.Send"/>
                <span>Post</span>
            </div>
            <div class="open display-button text-center"><span>Cancel</span></div>
        </summary>
        <form method="post" asp-controller="PostEditor" asp-action="Submit" asp-area="">
            @* <label for="post-editor"></label> *@
            <textarea id="post-editor" asp-for="@Model.Data.Contents[0].Text"></textarea>
            <label asp-for="@Model.Data.Audience">Visibility</label>
            <select asp-for="@Model.Data.Audience" asp-items="@Model.AudienceItems" multiple="@false"></select>
            <input type="hidden" asp-for="@Model.Data.Contents[0].Type" value="Note"/>
            <button type="submit">
                <app-icon type="@Icon.Send"/>
                <span>Post</span>
            </button>
        </form>
    </details>
</section>