@page "/blog/"
@using Microsoft.AspNetCore.Html
@model Letterbook.Docs.Pages.Blog.Index

@{
    ViewData["Title"] = "Letterbook Blog";
    ViewData["Brand"] = "Blog";
}

@implements IRenderStatic<Index>

@functions {

    public List<Index> GetStaticProps(RenderContext ctx)
    {
        var blog = ctx.Resolve<Markdown.MarkdownFilesFactory<Markdown.MarkdownDate>>();
        return [new Index(blog)];
    }

}


@foreach (var article in Model.Blog.GetAll())
{
    int y = article.Date.Year;
    int m = article.Date.Month;
    int d = article.Date.Day;
    <article >
        <header>
            
        <h3 >
            <a href="blog/post/@y/@m/@d/@article.Slug">@article.Title</a>
        </h3>
        </header>
        @(new HtmlString(article.HtmlLede))
        <footer><time datetime="@article.Date.ToString("yyyy-MM-dd")">@article.Date.ToString("D")</time>
            @if (article.Authors.Any())
            {
                <p class="authors">By @(string.Join(", ", article.Authors))</p>
            }
            </footer>
    </article>
}