@page
@model Letterbook.Web.Areas.Account.Pages.PasswordReset

@{
    Layout = "_LayoutAnonymous";
    ViewData["Title"] = "Reset Password";
}

<section class="account anonymous">
    <header>
        <h1>Reset Password</h1>
    </header>

    <dialog @(Model.Result != null ? "open" : "")>
        <article>
            <header>
                <h2>@Model.Result</h2>
            </header>
            <ul>
                @foreach (var each in Model.ResultDetails)
                {
                    <li>@each</li>
                }
            </ul>
            @if (Model.Result != "Success")
            {
                <p>Please correct the errors and try again</p>
            }
            <footer>
                @if (Model.Result == "Success")
                {
                    <a asp-page="/Login" asp-area="Account">Login with your new password</a>
                }
                else
                {
                    <form method="dialog">
                        <button type="submit">Close</button>
                    </form>
                }
            </footer>
        </article>
    </dialog>
    
    <p>Enter your new password</p>
    <form method="post">
        @* Password1! *@
        <label for="reset-password-new">New password</label>
        <input id="reset-password-new" name="passwordNew" type="password" autocomplete="new-password"/>

        <label for="reset-password-confirm">Confirm new password</label>
        <input id="reset-password-confirm" name="passwordConfirm" type="password" autocomplete="new-password"/>
        
        <button type="submit">Submit</button>
        <input type="hidden" name="email" value="@Model.Email"/>
        <input type="hidden" name="token" value="@Model.Token"/>
    </form>
</section>